<% provide(:title, 'All Rules') %>
<h1>All Rules</h1>

<% if current_user.pushes.empty? %>
  <h2><%= link_to "Nothing to see here! Go create some rules", new_push_path %></h2>
<% end %>

<%= will_paginate %>

<ul class="pushes">
  <%= render @pushes %>
</ul>

<%= will_paginate %>

