<% provide(:title, @push.source_tag_name ) %>

<h1>Articles included in this rule</h1>

<h2><%= link_to "Delete", @push, method: :delete, data: {confirm: "Are you sure?" } %>
<% if @push.get_outstanding_jobs.nil? %>
| 
<%= link_to "Run", pushes_run_path(@push) %>
<% end %></h2>


<div>
  <ul class="articles">
    <%= render @articles %>
  </ul>
</div>
