<% provide(:title, 'Index of Articles') %>
<h1>Index of Articles</h1>

<p>The following articles will be tagged. Click here to undo</p>
<ul class="articles">
  <%= render current_user.pushes.last.articles %>
</ul>

