<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<div data-status="<%= jobs_status_path(@fetch) %>">
  <p>Formatting...</p>
  <%= link_to 'Back', root_path, style: 'display: none;' %>
</div>

